---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: ! '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<rackspace-username>","apiKey":"<rackspace-api-token>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: ! '{"access":{"token":{"id":"96cee25cd31b4f08ad465b8a41df1cd1","expires":"2013-09-18T09:27:03.831-05:00","tenant":{"id":"_CDN-TENANT-NAME_","name":"_CDN-TENANT-NAME_"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFiles","endpoints":[{"region":"DFW","tenantId":"_TENANT_ID_","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/_TENANT_ID_","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/_TENANT_ID_"},{"region":"ORD","tenantId":"_TENANT_ID_","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/_TENANT_ID_","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/_TENANT_ID_"},{"region":"SYD","tenantId":"_TENANT_ID_","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/_TENANT_ID_","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/_TENANT_ID_"},{"region":"IAD","tenantId":"_TENANT_ID_","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/_TENANT_ID_","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/_TENANT_ID_"}],"type":"object-store"},{"name":"cloudFilesCDN","endpoints":[{"region":"DFW","tenantId":"_TENANT_ID_","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/_TENANT_ID_"},{"region":"SYD","tenantId":"_TENANT_ID_","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/_TENANT_ID_"},{"region":"ORD","tenantId":"_TENANT_ID_","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/_TENANT_ID_"},{"region":"IAD","tenantId":"_TENANT_ID_","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/_TENANT_ID_"}],"type":"rax:object-cdn"},{"name":"[...]
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/servers/my_server
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96cee25cd31b4f08ad465b8a41df1cd1
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Compute-Request-Id:
      - req-75733f69-41cc-45cb-9c4a-5ef458b0e0cd
    body:
      encoding: UTF-8
      string: ! '{"itemNotFound": {"message": "Instance could not be found", "code":
        404}}'
  recorded_at: Tue, 17 Sep 2013 18:40:38 GMT
recorded_with: VCR 2.5.0
