---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: ! '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<rackspace-username>","apiKey":"<rackspace-api-token>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: ! '{"access":{"token":{"id":"96cee25cd31b4f08ad465b8a41df1cd1","expires":"2013-09-18T09:27:03.831-05:00","tenant":{"id":"_CDN-TENANT-NAME_","name":"_CDN-TENANT-NAME_"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFiles","endpoints":[{"region":"DFW","tenantId":"_TENANT_ID_","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/_TENANT_ID_","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/_TENANT_ID_"},{"region":"ORD","tenantId":"_TENANT_ID_","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/_TENANT_ID_","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/_TENANT_ID_"},{"region":"SYD","tenantId":"_TENANT_ID_","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/_TENANT_ID_","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/_TENANT_ID_"},{"region":"IAD","tenantId":"_TENANT_ID_","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/_TENANT_ID_","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/_TENANT_ID_"}],"type":"object-store"},{"name":"cloudFilesCDN","endpoints":[{"region":"DFW","tenantId":"_TENANT_ID_","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/_TENANT_ID_"},{"region":"ORD","tenantId":"_TENANT_ID_","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/_TENANT_ID_"},{"region":"SYD","tenantId":"_TENANT_ID_","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/_TENANT_ID_"},{"region":"IAD","tenantId":"_TENANT_ID_","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/_TENANT_ID_"}],"type":"rax:object-cdn"},{"name":"[...]
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/flavors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96cee25cd31b4f08ad465b8a41df1cd1
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-eaa54cd0-776c-407f-a48e-7e75b8665bfa
    body:
      encoding: UTF-8
      string: ! '{"flavors": [{"id": "2", "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/flavors/2",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/_CDN-TENANT-NAME_/flavors/2",
        "rel": "bookmark"}], "name": "512MB Standard Instance"}, {"id": "3", "links":
        [{"href": "https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/flavors/3",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/_CDN-TENANT-NAME_/flavors/3",
        "rel": "bookmark"}], "name": "1GB Standard Instance"}, {"id": "4", "links":
        [{"href": "https://ord.serv[...]
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96cee25cd31b4f08ad465b8a41df1cd1
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-6cfddd02-50f2-426c-9467-25c764bbae64
    body:
      encoding: UTF-8
      string: ! '{"images": [{"id": "78a41fcc-de90-428a-a79d-63ecb60cfe58", "links":
        [{"href": "https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/images/78a41fcc-de90-428a-a79d-63ecb60cfe58",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/_CDN-TENANT-NAME_/images/78a41fcc-de90-428a-a79d-63ecb60cfe58",
        "rel": "bookmark"}, {"href": "https://ord.images.api.rackspacecloud.com/_CDN-TENANT-NAME_/images/78a41fcc-de90-428a-a79d-63ecb60cfe58",
        "type": "application[...]
- request:
    method: post
    uri: https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/servers
    body:
      encoding: UTF-8
      string: ! '{"server":{"name":"test_server","imageRef":"23b564c9-c3e6-49f9-bc68-86c7a9ab5018","flavorRef":"2","minCount":1,"maxCount":1,"networks":[{"uuid":"00000000-0000-0000-0000-000000000000"},{"uuid":"11111111-1111-1111-1111-111111111111"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96cee25cd31b4f08ad465b8a41df1cd1
  response:
    status:
      code: 202
      message: ''
    headers:
      Location:
      - https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/servers/2bb77195-58de-414b-9a9a-8a53ab56d331
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-ac88e567-6cff-46b0-8b9b-dfb1910c0118
    body:
      encoding: UTF-8
      string: ! '{"server": {"OS-DCF:diskConfig": "AUTO", "id": "2bb77195-58de-414b-9a9a-8a53ab56d331",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/servers/2bb77195-58de-414b-9a9a-8a53ab56d331",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/_CDN-TENANT-NAME_/servers/2bb77195-58de-414b-9a9a-8a53ab56d331",
        "rel": "bookmark"}], "adminPass": "5cSZVadqS7RB"}}'
  recorded_at: Tue, 17 Sep 2013 18:31:25 GMT
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/servers/2bb77195-58de-414b-9a9a-8a53ab56d331
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96cee25cd31b4f08ad465b8a41df1cd1
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-575cfc1c-3dff-4c9a-b51b-c6d82baf4ebd
    body:
      encoding: UTF-8
      string: ! '{"server": {"status": "ACTIVE", "updated": "2013-09-17T18:35:06Z",
        "hostId": "27e5fb4ce3760ac8ed6b0af62522118bebb293705054afad715d79d4", "addresses":
        {"public": [{"version": 6, "addr": "2001:4801:7823:0076:3053:5598:ff11:0f17"},
        {"version": 4, "addr": "192.237.249.33"}], "private": [{"version": 4, "addr":
        "10.208.8.51"}]}, "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/servers/2bb77195-58de-414b-9a9a-8a53ab56d331",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/_CDN-TENANT-NAME_/servers/2bb77195-58de-414b-9a9a-8a53ab56d331",
        "rel": "bookmark"}], "key_name": null, "image": {"id": "23b564c9-c3e6-49f9-bc68-86c7a9ab5018",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/_CDN-TENANT-NAME_/images/23b564c9-c3e6-49f9-bc68-86c7a9ab5018",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state":
        "active", "flavor": {"id": "2", "links": [{"href": "https://ord.servers.api.rackspacecloud.com/_CDN-TENANT-NAME_/flavors/2",
        "rel": "bookmark"}]}, "id": "2bb77195-58de-414b-9a9a-8a53ab56d331", "user_id":
        "358651", "name": "test_server", "created": "2013-09-17T18:31:27Z", "tenant_id":
        "_CDN-TENANT-NAME_", "OS-DCF:diskConfig": "AUTO", "accessIPv4": "192.237.249.33",
        "accessIPv6": "2001:4801:7823:0076:3053:5598:ff11:0f17", "progress": 100,
        "OS-EXT-STS:power_state": 1, "metadata": {}}}'
  recorded_at: Tue, 17 Sep 2013 18:35:16 GMT
recorded_with: VCR 2.5.0
